# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\دراسة2\مواضيع خاصة بالويب\مشروع نهائي معرض اعمال\laravel7\Behance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
